*{
    padding: 0;
    margin: 0;
    font-family: 'Pixelify Sans', sans-serif;
}
@keyframes fontV{
    0%{
        color:rgb(252, 224, 182);
    }
    25%{
        color:rgb(243, 197, 127);
    }
    50%{
        color: rgb(243, 183, 105);
    }
    75%{
        color:rgb(243, 197, 127); 
    }
    100%{
        color:rgb(252, 224, 182);
    }
}
body{
    height: 100vh;
    background-image: url(library.gif);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    max-width: 100%;
    height: 30vh;
    color: #fff;
    padding: 3vh 2vw 1vh 2vw;
}
.title{
    text-indent: 20px;
    font-style: italic;
    font-weight: bolder;
    font-size: 4vh;
}
.subtitle{
    font-size: 3vh;
    animation: fontV 1s infinite steps(12);
}
.body{
    height: 66vh;
    overflow: scroll;
    width: 100%;
    background:linear-gradient(to top,rgba(0, 0, 0, 0.829),rgba(0, 0, 0, 0.829), transparent);
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-align: start 2000px;
}
.body::-webkit-scrollbar{
    display: none;
}
.abatr{
    display: none;
    height: 2vh;
    width: 65%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.658), transparent);
    position: sticky;
    top: 0%;
    z-index: 100;
}
.row-content{
    display:flex;
    width: 100%;
    padding: 1vh 2vw 1vh 2vw;
    margin-bottom: 7vh;
}
.label{
    text-indent: 4vw;
    font-size: 4vh;
    color: #fff;
}
.card{
    width: 17%;
    height: 45vh;
    margin-right: 5vw;
    border-radius: 20px;
    background-image: url(f6u86qlmvmva1.gif);
    background-position: left;
    background-size: cover;
    border: 2px solid rgb(179, 110, 21);
    transition: 1s;
}
.c1{
    background-image: url(8uxwwv6r556a1.gif);
}
.c2{
    background-image: url(tumblr_aefe83db4113d3177f48bd28acbd112e_a6ff534a_640.gif);
}
.card-content{
    position: relative;
    top: 63%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.432);
    padding-left: 1vw;
    transition:1s;
    cursor: pointer;
    
}
.nome-jornada{
    text-align: center;
    font-size: 3vh;
    padding:1vh 0vw 1vh 0vw;
    
}
.card:hover{
    transition: 1s;
    transform: scale(1.05);
}
.info{
    display: none;
    
}
.info-d{
    padding-left: 1vw;
}
.info-i{
    padding-left:1vw;
    margin-bottom: 1vh;
    list-style-type: none;
}
.settings{
    width: 4vw;
    height: 10vh;
    position: relative;
    top: -4%;
    left: 72%;
    cursor: pointer;
    z-index: 100;
}
.current-card{
    top:-10%;
}

@media screen and (max-width:800px),(orientation:portrait){
    .subtitle{
        text-indent: 10px;
    }
    .body{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .body::-webkit-scrollbar{
        display: none;
    }
    .row-content{
        overflow-x: scroll;
        height: 80%;
        flex-shrink: none;
        width: 240vw;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .row-content::-webkit-scrollbar{
        display: none;
    }
    .card{
        width: 80vw;
        
    }
    .settings{
        width: 20%;
    }
    .info{
        padding-left: 8vw;
    }
}
